<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017293831751-bsff5f865lco5q4b94t53933l9gmu2sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017293831751-bsff5f865lco5q4b94t53933l9gmu2sh</string>
	<key>API_KEY</key>
	<string>AIzaSyBRtiWJ740Vln0VZNEFJUFRHP4EOklghZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1017293831751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unisphere</string>
	<key>PROJECT_ID</key>
	<string>unisphere-a2be4</string>
	<key>STORAGE_BUCKET</key>
	<string>unisphere-a2be4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017293831751:ios:4e5e6f3f8ba2d6d8d77b62</string>
</dict>
</plist>
